In [61]:
# Dependencies
import pandas as pd

In [62]:
# load CSV
file = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [63]:
# Read with pandas--low_memory required to suppress errors about mixed data types
coders_file = pd.read_csv(file, low_memory=False)
coders_file.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [66]:
# Taking only columns 0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111

i = [0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]
coders_data = pd.DataFrame([coders_file.iloc[:,i] for i in i]).T
coders_data.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,office and administrative support,Employed for wages,male,0,30,32000,NaN,"some college credit, no degree",NaN
1,22,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,food and beverage,Employed for wages,male,NaN,30,15000,Front-End Web Developer,"some college credit, no degree",NaN
2,19,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,finance,Employed for wages,male,NaN,20,48000,NaN,high school diploma or equivalent (GED),NaN
3,26,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,education,Employed for wages,female,NaN,25,6000,Full-Stack Web Developer,"some college credit, no degree",NaN

In [67]:
# Changing reading 0 and 1 to No and Yes, respectively
coders_edit = coders_data.replace( 0, "No")
coders_edit = coders_edit.replace( 1, "Yes")
coders_edit["AttendedBootcamp"].value_counts()

No     14427
Yes      953
Name: AttendedBootcamp, dtype: int64

In [68]:
# Extracting rows for only those who attended a bootcamp
attended_df = coders_edit.loc[coders_edit["AttendedBootcamp"] == "Yes"]
attended_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,Yes,No,No,Codify Academy,NaN,No,NaN,"between 100,000 and 1 million",...,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,Yes,Yes,No,DaVinci Coders,45000.0,No,NaN,more than 1 million,...,United States of America,software development,Employed for wages,male,No,10,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,Yes,Yes,Yes,Coder Foundry,75000.0,Yes,3,"less than 100,000",...,United States of America,software development,Employed for wages,male,Yes,30,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,Yes,Yes,No,No,General Assembly,NaN,No,NaN,"between 100,000 and 1 million",...,United States of America,NaN,Not working and not looking for work,female,NaN,30,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,Yes,No,NaN,Yes,NaN,NaN,No,NaN,"between 100,000 and 1 million",...,Canada,NaN,Not working but looking for work,female,NaN,60,NaN,NaN,"some college credit, no degree",NaN

In [69]:
# Creating DataFrame of the different boot camps that had a significant number of attendees i.e 20 or more attendees

bootcamps = attended_df["BootcampName"].value_counts()
bootcamps_df = pd.DataFrame(bootcamps).rename(columns={"BootcampName":"Popular BootCamp"})
bootcamps_df = bootcamps_df.loc[bootcamps_df["Popular BootCamp"] >= 20]
bootcamps_df.index.rename("BootCamp", inplace=True)
bootcamps_df

                                Popular BootCamp
BootCamp
General Assembly                              90
Flatiron School                               54
Dev Bootcamp                                  48
The Iron Yard                                 40
Prime Digital Academy                         30
Hack Reactor                                  29
Turing                                        27
App Academy                                   22
Hackbright Academy                            22
Code Fellows                                  21
Bloc.io                                       21
MakerSquare                                   20
Galvanize                                     20
New York Code + Design Academy                20

In [70]:
# Counting how many attendees of each bootcamp would recommend the bootcamp
recom_bootcamps = attended_df["BootcampName"].loc[attended_df["BootcampRecommend"] == "Yes"].value_counts() #
recom_bootcamps_df= pd.DataFrame(recom_bootcamps).rename(columns={"BootcampName":"Recommended BootCamp"})
recom_bootcamps_df.index.rename("BootCamp", inplace=True)
recom_bootcamps_df

                     Recommended BootCamp
BootCamp
General Assembly                       70
Flatiron School                        50
Dev Bootcamp                           41
The Iron Yard                          31
Hack Reactor                           27
...                                   ...
codeU                                   1
Origin Code Academy                     1
Codify Academy                          1
SeedPaths                               1
Coder's Lab                             1

[116 rows x 1 columns]

In [71]:
# Merging the two created data frames on the name of tbe bootcamp
combined_df = pd.merge(bootcamps_df,recom_bootcamps_df, how="outer", on="BootCamp")
combined_df

                       Popular BootCamp  Recommended BootCamp
BootCamp
General Assembly                   90.0                    70
Flatiron School                    54.0                    50
Dev Bootcamp                       48.0                    41
The Iron Yard                      40.0                    31
Prime Digital Academy              30.0                    25
...                                 ...                   ...
codeU                               NaN                     1
Origin Code Academy                 NaN                     1
Codify Academy                      NaN                     1
SeedPaths                           NaN                     1
Coder's Lab                         NaN                     1

[116 rows x 2 columns]

In [76]:
# Calculate percentage of each bootcamp's students who are recommenders
combined_df['Percentage of recommenders'] =  (combined_df["Recommended BootCamp"]/\
                                              (combined_df["Popular BootCamp"] + combined_df["Recommended BootCamp"]))

combined_df = combined_df.loc[(combined_df["Percentage of recommenders"].notnull())].sort_values("Percentage of recommenders", ascending=False)
combined_df["Percentage of recommenders"]=combined_df["Percentage of recommenders"].map("{:,.2%}".format)
combined_df

,Popular BootCamp,Recommended BootCamp,Percentage of recommenders
BootCamp,,,
Turing,27.0,26,49.06%
Hack Reactor,29.0,27,48.21%
Flatiron School,54.0,50,48.08%
App Academy,22.0,20,47.62%
MakerSquare,20.0,18,47.37%
Hackbright Academy,22.0,19,46.34%
Dev Bootcamp,48.0,41,46.07%
Prime Digital Academy,30.0,25,45.45%
General Assembly,90.0,70,43.75%
The Iron Yard,40.0,31,43.66%
Code Fellows,21.0,15,41.67%
New York Code + Design Academy,20.0,14,41.18%
Galvanize,20.0,11,35.48%
Bloc.io,21.0,11,34.38%

In [77]:
# Export to excel and remove index
combined_df.to_csv('Output/Attendee Recommenders_Analysis_2016-Bootcamp.csv', index=False, header=True)